html, body{
  width:100%;
  height:100%;
  margin:0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background: #eaeaea;
  height: 80px;
}

.header h1{
  display: inline-block;
  float: left;
}

.header ul{
  margin: 0;
  float: right;
  padding: 0;
}

.header li{
  display: inline-block;
  list-style-type: none;
}

.header li a{
  line-height: 80px;
  padding: 0 10px;
  display: inline-block;
}

.page-content{
  width: 900px;
  margin: 0 auto;
}

#box{
  display: inline-block;
  float: center;
  width:650px;
  height: 100px;
}

#banner{
  width: 900px;
  height: 50px;
  background: rgb(155, 107, 218);
}

#banner2{
  width: 900px;
  height: 50px;
  background: rgb(107, 187, 218);
}

#banner3{
  width: 900px;
  height: 50px;
  background: rgb(170, 218, 107);
}

#banner4{
  width: 900px;
  height: 50px;
  background: rgb(231, 210, 114);
}

#box2{
  display: inline-block;
  float: center;
  width:650px;
}

#buffer{
  width:125px;
  height: 200px;
  float: left;
}

#box_l{
  width:300px;
  height:80px;
  font-size: 45px;
  background:rgb(148, 148, 161);
  float: left;
}

#box_r{
  width:300px;
  height:80px;
  font-size: 45px;
  background:rgb(148, 148, 161);
  float: right;
}

#friendbox{
  display: inline-block;
  float:center;
  width: 700px;
  height: 300px;
  border-style: solid;
}

#textbox{
  margin-left: 100px;
  width: 300px;
  height: 30px;
  border-style: inset;
}

.page-content{
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 70%;
}

.messages{
  padding: 20px;
  overflow-y: scroll;
  flex-grow: 2;
  background: #dedede;
}

.message{
  margin-bottom: 10px;
  background: white;
  border-radius: 3px;
  text-align: right;
  padding:10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.content-area{
  height:100%;
  display: flex;
  height: 700px;
  flex-direction: column;
}